# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.bin

# Executables
*.exe
*.out
*.app

.vscode/
crawler
frontier.txt
frontier.old.txt
frontier_filter.bin

html_parser
parser_filter.bin
peers.txt

/test
/chunks

*.dSYM/
test_cs_on_index_chunk
